:root {
    --background-primary-color: rgba(255, 255, 255);
    --background-grey-color: rgba(248, 249, 251);
    --background-blue-color: rgba(239, 245, 255);
    --line-color: rgb(215, 220, 229);
    --text-color0: #292e40;
    --text-color1: #475067;
    --text-color2: #67738e;
    --text-blue: rgb(72, 118, 239);
    --title-color: #373f57;
    ;
    --point-color1: rgba(81, 137, 250);
    --point-light-color1: #eff5ff;
    --point-color2: rgba(3, 203, 164);
    --point-light-color2:#defaf6;
    --point-color3: rgba(0, 190, 234);
    --point-light-color3: #def9fe;
    --point-color4: rgba(165, 116, 238);
    --point-light-color4: #f0e3fe;
    --disable-color: rgba(219, 223, 232);
    --ok-light-color: rgb(255, 255, 255);
    --ok-color: rgb(32, 145, 66);
    --ng-light-color: rgb(238, 217, 217);
    --ng-color: rgba(252, 98, 98, 1);
    --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.065);
    --box-shadow2: 0px 0px 20px rgba(255, 255, 255, 0.157);
    --inner-shadow2: inset 2px 5px 5px rgba(0, 0, 0, 0.065);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/font/Roboto-Bold.woff2);
}

@font-face {
    font-family: SCDream4;
    src: url(/font/SCDream4.otf);
}

@font-face {
    font-family: SCDream6;
    src: url(/font/SCDream6.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--background-grey-color);
}

.top_bar {
    width: 100%;
    height: 56px;
    background: transparent;
    display: flex;
}

.logo {
    width: calc(200px - 20px);
    height: 100%;
    margin-left: 20px;
}

.logo a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: Roboto-Bold !important;
    font-size: 20px;
    color: var(--text-color1);
}


.menu {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}

.menu_item {
    height: 40px;
    padding: 0px 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: SCDream4 !important;
    font-size: 12px;
    color: var(--text-color1);
    border-radius: 6px;
    background: transparent;
}

.menu_item:hover {
    background: var(--background-primary-color);
}

.active {
    color: var(--point-color1);
}

.content {
    width: 100%;
    height: calc(100% - 56px);
    background: transparent;
}

.top {
    width: 100%;
    height: 40%;
    display: flex;
    background: transparent;
}

.top_left {
    width: calc(25% - 20px - 10px);
    height: calc(100% - 20px - 10px);
    background: var(--background-primary-color);
    border: 1px solid var(--line-color);
    border-radius: 16px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
}

.img {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
}

.img img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--line-color);
    border-radius: 12px;
}

.top_center {
    width: calc(25% - 10px - 10px);
    height: calc(100% - 20px - 10px);
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    position: relative;
    width: calc(50% - 10px);
    height: calc(25% - 10px);
    background: var(--background-primary-color);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.info_left {
    margin-right: 10px;
}

.info_right {
    margin-left: 10px;
}

.info_title {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: 20px;
    color: var(--text-color2);
    background: transparent;
    font-size: 12px;
font-family: SCDream4 !important;
}

.info_text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    color: var(--title-color);
    background: transparent;
    font-size: 20px;
    font-family: SCDream6 !important;
    display: flex;
    align-items: end;
    justify-content: end;

}

.top_right {
    width: calc(50% - 10px - 10px);
    height: calc(100% - 20px - 10px);
    background: transparent;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.spc {
    width: 100%;
    height: 100%;
    background: transparent;
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: transparent;
}

.slider-wrapper {
    height: 100%;
    display: flex;
    transition: transform 1s ease-in-out;
    background: transparent;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    background: transparent;
    
}

.spc_item {
    width: calc(20% - 10px);
    height: calc(50% - 5px);
    background: var(--background-primary-color);
    border: 1px solid var(--line-color);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.spc_top {
    margin-bottom: 10px;
}

.item_top{
    width: 100%;
    background: transparent;
}

.spc_title1{
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 12px;
    font-family: SCDream6 !important;
    color: var(--point-color1);
    margin-top: 10px;
    margin-left: 5px;
}

.spc_title2{
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 12px;
    font-family: SCDream6 !important;
    color: var(--point-color2);
    margin-top: 10px;
    margin-left: 5px;
}

.spc_title3{
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 12px;
    font-family: SCDream6 !important;
    color: var(--point-color3);
    margin-top: 10px;
    margin-left: 5px;
}

.spc_title4{
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 12px;
    font-family: SCDream6 !important;
    color: var(--point-color4);
    margin-top: 10px;
    margin-left: 5px;
}



.myChart{
    position: absolute;
    bottom: 30px;
    right: 0;
width: 100% !important;
background: transparent;
}

.bottom {
    width: 100%;
    height: calc(60% - 10px - 10px);
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.process {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.process_top {
    width: 100%;
    height: 50%;
    display: flex;
    background: transparent;
}

.front_line {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.line_title1{
width: calc(100% - 20px);
height: 20px;
margin-left: 20px;
color: var(--text-color0);
    font-size: 14px;
    font-family: SCDream6 !important;
}

.line1{
    display: flex;
    width: 100%;
    height: 100%;
    padding-left:10px;
    padding-right:10px;
    background: transparent;
}

.line_item1{
    width: calc(calc(100% / 10) - 10px);
    height: calc(100% - 10px - 20px);
    margin-left: 10px;
margin-top: 10px;
margin-bottom: 20px;
}

.item_position1{
    width: 100%;
    height: 25px;
    background: var(--background-primary-color);
    border: 1px solid var(--line-color);
    border-radius: 10px;
    font-size: 10px;
    color: var(--text-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: SCDream4;
        box-shadow: var(--box-shadow);
}

.line_box1{
    width: 100%;
    height: calc(100% - 25px - 10px);
    background: var(--background-primary-color);
    border: 1px solid var(--line-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
        box-shadow: var(--box-shadow);
}

.item_title1{
    width: 100%;
    height: 45px;
font-size: 24px;
font-family: Roboto-Bold;
display: flex;
align-items: end;
justify-content: center;
background: transparent;
margin-bottom: 5px;
color: var(--point-color1);
}

.item_text1{
    width: 70%;
    height: 30px;
    font-size: 12px;
    font-family: Roboto-Bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color2);
    background: var(--background-grey-color);
    border-radius: 10px;
    margin-top: 7px;
}

.rear_line {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.line_title2{
    width: calc(100% - 10px);
    height: 20px;
    margin-left: 10px;
    color: var(--text-color0);
        font-size: 14px;
        font-family: SCDream6 !important;
    }
    
    .line2{
        display: flex;
        width: 100%;
        height: 100%;
        padding-right:10px;
    }
    
    .line_item2{
        width: calc(calc(100% / 10) - 10px);
        height: calc(100% - 10px - 20px);
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    }
    
    .item_position2{
        width: 100%;
        height: 25px;
        background: var(--background-primary-color);
        border: 1px solid var(--line-color);
        border-radius: 16px;
        font-size: 10px;
        color: var(--text-color1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        font-family: SCDream4;
            box-shadow: var(--box-shadow);
    }
    
    .line_box2{
        width: 100%;
        height: calc(100% - 25px - 10px);
        background: var(--background-primary-color);
        border: 1px solid var(--line-color);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
            box-shadow: var(--box-shadow);
    }
    
    .item_title2{
        width: 100%;
        height: 45px;
    font-size: 24px;
    font-family: Roboto-Bold;
    display: flex;
    align-items: end;
    justify-content: center;
    background: transparent;
    margin-bottom: 5px;
    color: var(--point-color2);
    }
    
    .item_text2{
        width: 70%;
        height: 30px;
        font-size: 12px;
        font-family: Roboto-Bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color2);
        background: var(--background-grey-color);
        border-radius: 10px;
        margin-top: 7px;
        }

.process_bottom {
    width: 100%;
    height: 50%;
    display: flex;
    background: transparent;
}

.main_line {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .line3{
        display: flex;
        width: 100%;
        height: 100%;
        padding-left:10px;
        padding-right:10px;
    }
    
    .line_item3{
        width: calc(calc(100% / 10) - 10px);
        height: calc(100% - 10px - 20px);
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    }
    
    .item_position3{
        width: 100%;
        height: 25px;
        background: var(--background-primary-color);
        border: 1px solid var(--line-color);
        border-radius: 16px;
        font-size: 10px;
        font-family: SCDream4;
        color: var(--text-color1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
            box-shadow: var(--box-shadow);
    }
    
    .line_box3{
        width: 100%;
        height: calc(100% - 25px - 10px);
        background: var(--background-primary-color);
        border: 1px solid var(--line-color);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
            box-shadow: var(--box-shadow);
    }
    
    .item_title3{
        width: 100%;
        height: 45px;
    font-size: 24px;
    font-family: Roboto-Bold;
    display: flex;
    align-items: end;
    justify-content: center;
    background: transparent;
    margin-bottom: 5px;
    color: var(--point-color3);
    }
    
    .item_text3{
        width: 70%;
        height: 30px;
        font-size: 12px;
        font-family: Roboto-Bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color2);
        background: var(--background-grey-color);
        border-radius: 10px;
        margin-top: 7px;
        }

.line_title3{
    width: calc(100% - 20px);
    height: 20px;
    margin-left: 20px;
    color: var(--text-color0);
        font-size: 14px;
        font-family: SCDream6;
    }

.assy_line {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .line4{
        display: flex;
        width: 100%;
        height: 100%;
        padding-right:10px;
    }
    
    .line_item4{
        width: calc(calc(100% / 10) - 10px);
        height: calc(100% - 10px - 20px);
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    }
    
    .item_position4{
        width: 100%;
        height: 25px;
        background: var(--background-primary-color);
        border: 1px solid var(--line-color);
        border-radius: 16px;
        font-size: 10px;
        font-family: SCDream4;
        color: var(--title-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
            box-shadow: var(--box-shadow);
    }
    
    .line_box4{
        width: 100%;
        height: calc(100% - 25px - 10px);
        background: var(--background-primary-color);
        border: 1px solid var(--line-color);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
            box-shadow: var(--box-shadow);
    }
    
    .item_title4{
        width: 100%;
        height: 45px;
    font-size: 24px;
    font-family: Roboto-Bold;
    display: flex;
    align-items: end;
    justify-content: center;
    background: transparent;
    margin-bottom: 5px;
    color: var(--point-color4);
    }
    
    .item_text4{
        width: 70%;
        height: 30px;
        font-size: 12px;
        font-family: Roboto-Bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color2);
        background: var(--background-grey-color);
        border-radius: 10px;
        margin-top: 7px;
    }

.line_title4{
    width: calc(100% - 10px);
    height: 20px;
    margin-left: 10px;
    color: var(--text-color0);
        font-size: 14px;
        font-family: SCDream6;
    }

    .line_disabled{
display: none;
    }